<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title></title>
</head>
<body>
  <h1><%= @user.name %>, your question has been answered!</h1>
  <p>
    You asked: <%= @question.title %><br>
    You can view the answer at <a href=<%= @url %> target="#">here</a>
  </p>
  <p>
    Thanks for asking,<br>
    -Drew & Ian
  </p>
</body>
</html>
