<%= @user.name %>, welcome to localhost:3000, your source for made-up data.</h1>
================================================================================

You have successfully signed up for our site, your name and email are:
- <%= @user.name %></li>
- <%= @user.email %></li>

Please use your email to sign in at <%= @url %>

Thanks for joining,
  -Drew & Ian
